/* Custom styles */
.dark-banner {
    background-color: #212529;
    color: #fff; 
    padding: 20px;
  }
  body {
    background-color: #d5dde5;
  }
  .footer {
    background-color: #212529;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .myBlock{
    padding: 2%;
  }
  .table {
    overflow: auto;
  }