<div class="myBlock form-group">
<form action='#' class='newForm'>
    <input type='hidden' name='id' id='id'>
    <div class="mb-3">
        <label for="firstName" class="form-label">Title *</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Assignee *</label>
        <input type="email" class="form-control" id="assignee" name="assignee">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4"
            placeholder="Enter your task detail"></textarea>
    </div>
    <div class="mb-3">
        <input class="form-check-input" type="radio" name="status" id="status" value=1>
        <label class="form-check-label">
            Done
        </label>
        <input class="form-check-input" type="radio" name="status" id="status" value=0>
        <label class="form-check-label">
            Pending
        </label>
    </div>

    <div class="invalid-feedback myBlock">
        * Mandatory field should not be empty.
    </div>
    <button class="btn btn-secondary" id="addNew">Submit</button>
    <button class="btn btn-secondary" onClick="event.preventDefault();location.reload();">Back</button>
</form>
</div>