
<div class="myBlock" style="float: right">
<button class='btn btn-secondary insert'><i class="fa fa-plus"></i> Add</button>

</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Assignee</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="task-list">
            <tr>
                <td colspan="5"> There is no data ..</td>
            </tr>
    </tbody>
</table>
